<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>Dashboard</title>

    <style>
        body {
            background: #7f9b4e url(../img/sample10.jpg) no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        header h1{
            color : white;
        }
        header h2 {
            color : white;
        }
    </style>
</head>
<body ng-app="loginPage" >
<div class="container">
    <header>
        <h1 style="color: #d43f3a"><strong> Men    at   work !</strong></h1>
        <h4 style="color: #d43f3a">................Please check back later................ </h4>
    </header>




</div>
</body>
</html>