          <!DOCTYPE html>
          <html lang="en" ng-app="todo">
          <head>
            <style type="text/css">
              html          { overflow-y:scroll; }
              body          { padding-top:50px; }
              #todo-list        { margin-bottom:30px; }
              #todo-form        { margin-bottom:50px; }
            </style>
            <style type="text/css">
              /* Scroller Box */
              #scroller_container1 {
               width: 2700px;
               height: 250px;
               
             }

             /* CSS Hack Safari */
             #dummy {;# }

             #scroller_container1 {
              overflow: auto;
            }
            /* Scoller Box */
          </style>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- <link rel="icon" href="../../favicon.ico"> -->

          <title>Tripster/Groups</title>

          <!-- Bootstrap core CSS -->
          <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
          <!-- Generic page styles -->
          <link rel="stylesheet" href="css/style.css">
          <!-- blueimp Gallery styles -->
          <link rel="stylesheet" href="css/blueimp-gallery.min.css">
          <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
          <link rel="stylesheet" href="css/jquery.fileupload.css">
          <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
          <!-- This is used for scroll effect -->
          <style type="text/css" href="css/jscroller2-1.1.css"></style>
          <script type="text/javascript" src="js/marqueeImages/jscroller2-1.61.js"></script>
          

          <!-- Custom styles for this template -->
          <!-- <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet"> -->
          <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
          <script type= "text/javascript" src="../js/angular.js"></script><!-- load angular -->
          <script src="../controllers/todo.js"></script>
          <script type="text/javascript" src="../js/dropzone.js"></script>
          <script>
            $(document).on('click','#button',function(){
              var feed = $('#feedbox').val();
              if(!feed){
                alert('Enter something');
              }
              else{
                $('#insert').after('<div id="feed"><div class="row"><div class="col-lg-2"> <img src="vraj.jpg" class="img-circle" width="62px"></div><div class="col-lg-9 "><div><b>Vraj Parikh</b><div class="pull-right text-muted" id="delete">delete</div></div><div>'+feed+'</div><div class="text-muted"><small>posted 2 mintues ago</small></div></div></div><hr></div>').hide().slideDown();
                $('#feedbox').val('');
              }
            });
            $(document).on('click','#photoButton',function(){

             alert("Inside photoButton");
             ("#feedbox").dropzone({ url: "/file/post" });

           });

            $(document).on('click','#delete',function(){

             $(this).closest('#feed').slideUp();

           });

          </script>
        </head>

        <body ng-controller="mainController">

          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
              </div><!--/.navbar-collapse -->
            </div>
          </nav>

          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1>India Trip</h1>
              <div class="Friend-List">
                <p class="Friends"><h2><center>This will show pics of all 
                  our friends</center></h2></p>
                  <div id="scroller_container1">
                   <div class="jscroller2_left jscroller2_speed-10 jscroller2_ignoreleave jscroller2_mousemove jscroller2_dynamic" style="font-size:60px; line-height:60px; white-space:nowrap; margin: 0;">
                    <img src="../img/download (1).jpg">
                    <img src="../img/download.jpg">
                  </div>
                  <div class="jscroller2_left_endless" style="font-size:60px; line-height:60px; white-space:nowrap; margin: 0;">
                    <img src="../img/download (1).jpg">
                    <img src="../img/download.jpg">
                  </div>
                </div>


              </div>

            </div>

            <div class="container">
              <!-- Example row of columns -->
              <div class="col-xs-6" id="wall">
                <!-- Wall Post Implementation -->

                <!-- HEADER AND TODO COUNT -->
                <div class="jumbotron text-left">
                  <h3>Showcase</h3>

                  <div class="row"> 
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border">
                    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                      <textarea class="form-control" id="feedbox" rows="3"></textarea><br>
                      <button type="button" id="button" class="btn btn-primary">Post</button>
                      <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                      </span>
                      <button type="submit" id="photoButton" class="btn btn-primary start">Upload Photo</button>
                      <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                      </button>
                      <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                      </div>
                      <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>
                  </div>

                  <br>
                </div>

                <div id="insert"></div>
              </div>
              <div class="col-xs-6 border" id="TODO">
                <!-- TODO Implementation -->

                <!-- HEADER AND TODO COUNT -->
                <div class="jumbotron text-left">
                  <h3>ToDo's <span class="label label-info">{{ todos.length }}</span></h3>
                </div>

                <!-- TODO LIST -->
                <div id="todo-list" class="row">
                  <div class="col-sm-4 col-sm-offset-4">

                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                    <div class="checkbox" ng-repeat="todo in todos">
                      <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                      </label>
                    </div>
                  </div>
                </div>

                <!-- FORM TO CREATE TODOS -->
                <div id="todo-form" class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                      <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center"
                        placeholder="I want to do something on my trip" ng-model="formData.text">
                      </div>

                      <!-- createToDo() WILL CREATE NEW TODOS -->
                      <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                    </form>
                  </div>
                </div>
              </div> <!-- /container -->
            </div> <!-- jumbotron Class-->
            <!-- The template to display files available for upload -->
            <script id="template-upload" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              <tr class="template-upload fade">
                <td>
                  <span class="preview"></span>
                </td>
                <td>
                  <p class="name">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
                </td>
                <td>
                  <p class="size">Processing...</p>
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </td>
                <td>
                  {% if (!i && !o.options.autoUpload) { %}
                  <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                  </button>
                  {% } %}
                  {% if (!i) { %}
                  <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                  </button>
                  {% } %}
                </td>
              </tr>
              {% } %}
            </script>
            <!-- The template to display files available for download -->
            <script id="template-download" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              <tr class="template-download fade">
                <td>
                  <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                  </span>
                </td>
                <td>
                  <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                  </p>
                  {% if (file.error) { %}
                  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
                </td>
                <td>
                  <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>
                  {% if (file.deleteUrl) { %}
                  <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                  </button>
                  <input type="checkbox" name="delete" value="1" class="toggle">
                  {% } else { %}
                  <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                  </button>
                  {% } %}
                </td>
              </tr>
              {% } %}
            </script>

              <!-- Bootstrap core JavaScript
              ================================================== -->
              <!-- Placed at the end of the document so the pages load faster -->
              
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
              <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
              <script src="js/jquery.ui.widget.js"></script>
              <!-- The Templates plugin is included to render the upload/download listings -->
              <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
              <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
              <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
              <!-- The Canvas to Blob plugin is included for image resizing functionality -->
              <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
              <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
              <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
              <!-- blueimp Gallery script -->
              <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
              <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
              <script src="js/fileUpload/jquery.iframe-transport.js"></script>
              <!-- The basic File Upload plugin -->
              <script src="js/fileUpload/jquery.fileupload.js"></script>
              <!-- The File Upload processing plugin -->
              <script src="js/fileUpload/jquery.fileupload-process.js"></script>
              <!-- The File Upload image preview & resize plugin -->
              <script src="js/fileUpload/jquery.fileupload-image.js"></script>
              <!-- The File Upload audio preview plugin -->
              <script src="js/fileUpload/jquery.fileupload-audio.js"></script>
              <!-- The File Upload video preview plugin -->
              <script src="js/fileUpload/jquery.fileupload-video.js"></script>
              <!-- The File Upload validation plugin -->
              <script src="js/fileUpload/jquery.fileupload-validate.js"></script>
              <!-- The File Upload user interface plugin -->
              <script src="js/fileUpload/jquery.fileupload-ui.js"></script>
              <!-- The main application script -->
              <script src="js/fileUpload/main.js"></script>
              <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
      <!--[if (gte IE 8)&(lt IE 10)]>
      <script src="js/cors/jquery.xdr-transport.js"></script>
      <![endif]-->
    </body>
    </html>